# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
/ConsoleAppSharp/obj/Debug/net8.0
/ConsoleAppSharp/obj
/packages/quazar-full-libs.1.1.0
/ConsoleAppCPP/x64/Debug
/ConsoleAppCPP/x64/Release
/ConsoleAppCPP/ConsoleAppCPP.vcxproj.user
/.vs
/ConsoleAppSharp/bin/Debug/net8.0
